
.auth-container {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.auth-container .form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.auth-container form > div{
    width: 100%;
}
.auth-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Outfit', sans-serif;
}

.auth-container label {
    display: block;
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
}

.auth-container input {
    
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline-color: var(--clr-dark);
}

.auth-container button {
    width: 100%;
    padding: 10px;
    background-color: var(--clr-primary);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.auth-container button:hover {
    background-color: var(--clr-dark);
}
